<%- include('header'); -%>

<%# This code was adapted from documentation provided on Bootstrap's website: Starter Template, Grid, Navbar %>

  <div style="background-color: #f2f2f2; text-align: center;">
    <div class="container p-5">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">

        <div class="col">
          <div class="card p-3 shadow-lg border-0">
            <a href="/customers/success">
              <img src="/customer.svg" class="card-img-top h-50 w-50" alt="See Customers Table"/>
              <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <p class="card-text">
                  Manage customers
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card p-3 shadow-lg border-0">
            <a href="/orders">
              <img src="/order.png" class="card-img-top h-50 w-50" alt="See Orders Table"/>
              <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">Manage orders</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card p-3 shadow-lg border-0">
            <a href="/menu-items">
              <img src="/menu.png" class="card-img-top h-50 w-50" alt="See Menu Items"/>
              <div class="card-body">
                <h5 class="card-title">Menu Items</h5>
                <p class="card-text">Manage menu items</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card p-3 shadow-lg border-0">
            <a href="/flavors">
              <img src="/ice-cream.png" class="card-img-top h-50 w-50" alt="See Flavors"/>
              <div class="card-body">
                <h5 class="card-title">Flavors</h5>
                <p class="card-text">
                  Manage ice cream flavors
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card p-3 shadow-lg border-0">
            <a href="/containers">
            <img src="/container.png" class="card-img-top h-50 w-50" alt="See Containers"/>
            <div class="card-body">
              <h5 class="card-title">Containers</h5>
              <p class="card-text">
                Manage containers
                </p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

<footer class="footer">
  <div class="container">
    <span class="text-muted small">© 2023 CS 340 Portfolio Project by Sabrina Estrada &amp; Derrick Macaranas | Icons by 
      <a href="https://freeicons.io/profile/75801" >Hilmy Abiyyu Asad</a>, 
      <a href="https://freeicons.io/profile/722" >Fasil</a>, 
      <a href="https://freeicons.io/profile/823" >Muhammad Haq</a>, and 
      <a href="https://freeicons.io/profile/5790">ColourCreatype</a> 
      on <a href="https://freeicons.io" >freeicons.io</a>
    </span>
  </div>
</footer>

<%- include('footer'); -%>