<%# // This code was adapted from a snippet provided by ChatGPT (OpenAI, 2021) %>

<div class="row">
    <div class="col-md-6">
      <div class="d-flex">
        
        <div>
          <button type="button" class="btn btn-lg bg-warning text-white" title="After adding a New Order, you can add Suborders to the Order" data-toggle="modal" data-target="#addOrder">Add Order</button>
        </div>
  
        
          <ol class="border order-instructions">
            <li class="list-inline text-center order-instructions-heading">Add Order instructions</li>
            <li class="list-inline ">1. Add a new Order.</li>
            <li class="list-inline ">2. Add Suborders to the Order.</li>
          </ol>
    
      </div>
    </div>
  </div>